#course-catalog {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: left;
}

#course-catalog ul > li {
    list-style-type: none;
}

.course-sections {
    margin-left: 2rem;
}

.section-nick {
    margin-bottom: 1em;
}
.section-nick span {
    color: green;
}

.course-sections li p {
    margin-left: 1rem;
}

.error {
    color: red;
}

a {
    text-decoration: underline;
    cursor: pointer;
}
